* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: #1e1e1e;
    color: rgba(255, 16, 64, 0.585);
}

.container {
    width: 60%;
    display: grid;
    gap: 0;
}

.too-list {
    display: flex;
    flex-flow: row nowrap;
    padding: 0;
    gap: 10px;
    list-style: none;
    overflow: hidden;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #e91f1f;
    background-color: rgb(167, 21, 21);
    box-shadow: 2px 4px 8px rgb(106, 12, 12);
}

.too-btn {
    display: block;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 30px;
    width: 30px;
    font-size: 16px;
    transition: all .5s ease-in-out;
    background-color: #941414;
}

.too-btn:hover {
    transform: scale(1.05);
    background-color: rgb(192, 19, 19);
}

